.App {
  /* text-align: center; */
}

body {
  background-color: #61707D;
}

nav {
  background-color: #8055b7;
  color: #F5FBEF;
}
nav .brand-logo {
  color: #F5FBEF;
  font-weight: strong;
}
.navButton {
  /* padding: 10px; */
  /* margin: 10px; */
}

.mainContainer {
  text-align: center;
  background-color: #F5FBEF;
  padding: 10px;
  color: #000004;
  width: 90%;
}

.imageList {
  /* width: 100%; */
}

.imageListItem {
  display: inline-block;
  margin: 10px;
  height: 150px;
  overflow: hidden;
  border: #8055b7 5px solid;
}
.imageListItem:hover {
  border: #E85D75 5px solid;
}
.imageListItem:active {
  border: #40F99B 5px solid;
}


.thumbnail {
  width: 150px;
  height: 271px;
}

.score {
  display: inline-block;
  padding: 10px;
  margin: 5px;
  font-weight: bold;
  border: #E85D75 solid 5px;
  color: #E85D75;
}