.App {
  /* text-align: center; */
}

body {
  background-color: #FBFEF9;
}

nav {
  background-color: #A63446;
  color: #FBFEF9;
}
nav .brand-logo {
  color: #FBFEF9;
  font-weight: strong;
}
.navButton {
  padding: 10px;
  /* margin: 10px; */
}

.mainContainer {
  text-align: center;
  background-color: #0C6291;
  padding: 10px;color: #FBFEF9;
}

.imageListItem {
  display: inline-block;
  margin: 10px;
  height: 200px;
  overflow: hidden;
}

.thumbnail {
  /* height: 271px;
  width: 150px; */
  clip: rect(10px,50px,50px,50px);
}

